html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    padding: 2px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}